@media only screen and (max-width: 1240px) {
/*	.row {
		padding: 0 25px;
	}*/
}


@media only screen and (max-width: 900px) {

/*	h1 {
	    font-size: 50px;
	    line-height: 60px;
	}

	.row {
	    padding: 0 15px;
	}*/

	/*-- Header --*/

/*    .header_site {
	    padding: 5px 0;
	}

	.header_content .left_col {
	    padding: 5px 5px 5px 0;
	}

	.header_content .right_col {
	    padding: 5px 0 5px 5px;
	    text-align: right;
	}

	.respmenubtn {
		display: inline-block;
		position: relative;
		top: 0;
	}

	.main_nav_wrapp {
		display: none;
		width: 100%;
		height: 100vh;
		overflow-y: auto;
		margin: 0;
		padding-top: 52px;
		padding-bottom: 80px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 11;
		background: rgba(0, 0, 0, .95);
	}

	.main_nav {
		display: block;
		margin: 0;
		padding: 0 10px;
		text-align: center;
	}

	.main_nav li {
		display: block;
		padding: 10px 0;
	}

	.main_nav li a {
		padding: 6px 10px;
		font-size: 24px;
		line-height: 30px;
	}

	.main_nav_2 li a {
		color: #ffffff;
	}

	.main_nav_2 li a:link,
	.main_nav_2 li a:visited {
	    color: #ffffff;
	    border-bottom: 1px solid transparent;
	}

	.main_nav_2 li a:active,
	.main_nav_2 li a.active {
	    color: #ffffff;
	    border-bottom: 1px solid #ffffff;
	}

	.main_nav_2 li a:hover {
	    color: #ffffff;
	    border-bottom: 1px solid #ffffff;
	}*/

	/*-- /Header --*/

}

@media only screen and (max-width: 767px) {

/*	h1 {
	    font-size: 37px;
	    line-height: 46px;
	}

	h2 {
	    font-size: 35px;
	    line-height: 45px;
	}*/

	/*-- Header --*/

/*	.header_site {
	    padding: 5px 0;
	}

	.header_content .left_col {
	    padding: 5px 5px 5px 0;
	}*/

	/*-- /Header --*/

	/*-- Section 1 - Main --*/

/*	.promo_main {
		background-image: url(img/promo_bg_tab.jpg);
	}*/

	/*-- Section 1 - Main --*/

	/*-- Footer --*/

/*	.footer_section p {
	    font-size: 17px;
	    line-height: 21px;
	}*/

	/*-- /Footer --*/

}

@media only screen and (max-width: 600px) {

	/*-- Section 1 - Main --*/

/*	.promo_main {
		background-image: url(img/promo_bg_smart.jpg);
	}*/

	/*-- Section 1 - Main --*/

}


@media only screen and (min-width: 901px) {

	/*-- Header --*/
/*	.main_nav_wrapp {
		display: block !important;
	}*/
	/*-- /Header --*/

}

@media only screen and (max-height: 900px) {

	/*-- Section 1 - About --*/

/*	.article .left_col {
	    width: calc(50% - 20px);
	    margin: 20px 20px 20px 0;
	}

	.article .right_col {
	    width: calc(50% - 20px);
	    margin: 20px 0 20px 20px;
	    padding: 65px 5%;
	}

	.article_2 .left_col {
	    width: calc(50% - 20px);
	    margin: 20px 0 20px 20px;
	    padding: 65px 5%;
	}

	.article_2 .right_col {
	    width: calc(50% - 20px);
	    margin: 20px 20px 20px 0;
	}*/

	/*-- /Section 1 - About --*/

	/*-- Section 1 - Activity --*/

/*	.article ol li {
	    padding: 5px 0;
	}

	.article ol > li {
	    margin-bottom: 5px;
	}*/

	/*-- /Section 1 - Activity --*/

	/*-- Section 1 - News --*/

/*	.news_thumbs {
	    margin: 7px -10px;
	}

	.news_thumb {
	    width: calc(33.33% - 20px);
	    margin: 10px;
	}*/

/*	.news_thumb .img_box {
	    height: 180px;
	}*/

/*	.news_thumb .descript {
	    margin-top: 10px;
	}*/

/*	.news_thumb .img_box p {
	    font-size: 33px;
	    line-height: 37px;
	}*/

	/*-- /ection 1 - News --*/

	/*-- Section 1 - News Page --*/

/*	.news_article {
	    margin: 10px 0;
	}

	.news_article p {
	    padding: 5px 0;
	}

	.news_article img {
	    margin: 5px 0;
	}*/

	/*-- /Section 1 - News Page --*/

	/*-- Section 1 - Docs --*/

/*	.doc_thumbnails {
	    margin: 20px -1%;
	}

	.doc_thumb img {
	    max-height: 440px;
	}*/

	/*-- /Section 1 - Docs --*/

	/*-- Section 1 - Contacts --*/

	.map {
	    height: 470px;
	    margin: 25px 0;
	}

	/*-- /Section 1 - Contacts --*/

	@media only screen and (max-width: 1240px) {

		/*-- Section 1 - About --*/

/*		.article .right_col,
		.article_2 .right_col,
		.article .left_col,
		.article_2 .left_col {
		    padding: 40px 5%;
		}*/

		/*-- /Section 1 - About --*/

	}


	@media only screen and (max-width: 1100px) {

		/*-- Section 1 - About --*/

/*		.article .right_col,
		.article_2 .right_col {
		    padding: 35px 5%;
		}*/

		/*-- /Section 1 - About --*/

	}


	@media only screen and (max-width: 850px) {

		/*-- Section 1 - About --*/

/*		.article, .article_2 {
			display: block;
		}

		.article .left_col,
		.article_2 .left_col,
		.article .right_col,
		.article_2 .right_col {
		    width: 100%;
		    margin: 0;
		}

		.article .left_col,
		.article_2 .left_col {
			height: 200px;
		}

		.article .right_col,
		.article_2 .right_col {
			padding: 15px 15px;
		}*/

		/*-- /Section 1 - About --*/

		/*-- Section 1 - Activity --*/

/*		.article ol > li {
		    margin-bottom: 0;
		}

		.article ol li {
		    padding: 5px 0;
		}*/

		/*-- /Section 1 - Activity --*/

	}

}

@media only screen and (max-height: 800px) {

	@media only screen and (max-width: 850px) {

		/*-- Section 1 - About --*/

/*		.article .right_col,
		.article_2 .right_col {
			padding: 15px 15px;
		}*/

		/*-- /Section 1 - About --*/

		/*-- Section 1 - News --*/

/*		.news_thumb .img_box {
		    height: 140px;
		}*/

		/*-- /Section 1 - News --*/

	}


	@media only screen and (max-width: 650px) {

		/*-- Section 1 - News --*/
/*
		.news_thumb {
		    width: calc(50% - 20px);
		    margin: 10px;
		}*/

		/*-- /Section 1 - News --*/

	}

	@media only screen and (max-width: 650px) {

		/*-- Section 1 - News --*/

/*		.news_thumbs {
		    margin: 7px 0;
		}

		.news_thumb {
		    width: 100%;
		    margin: 10px 0;
		}*/

		/*-- /Section 1 - News --*/

	}

}
